<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head-fragment"></head>

    <body class="d-flex flex-column min-vh-100">
        <div class="jumbotron">
            <div class="container">
                <h5><a th:href="@{/}">Home</a></h5>
                <hr>
                <br>
                <h4 th:text="'Profession name: ' + ${professionName}"></h4>
                <h4 th:text="'City: ' + ${city}"></h4>
                <h3 class="text-danger mt-3">No vacancies found for your request!</h3>
            </div>
        </div>

        <div th:replace="fragments/footer-fragment"></div>
    </body>
</html>